
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	font-family: Algerian;
	font-weight: bold;
	margin: 10px;
}
a{
	text-decoration: none;
	font-family: "times new roman";
}

span{
	font-family: "times new roman";
	font-size: 14px;
	line-height: 20px;

}
.headerr{
	color: #FFF;
	background: #85929E;
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: ;
	width: 100%;
}
.banner{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.foto{
	margin: 50px 10px;
	width: 50px;
	height: 50px;
}
.banner span{
    font-size: 16px;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.cerrar{
	width: 40px;
	height: 40px;
}


/*registro de usuario*/

.registro{
	width: 30%;
	margin: 0px auto;
}
.registro h1{
	color: #3498DB;
	margin: 10px;
}

form{
	background: #AAB7B8;
	padding: 20px 50px;
	border:1px solid #34495E;
	border-radius: 5px;
}
 label{
 	display: block;
 	font-size: 16px;
 	margin: 15px auto 5px auto;
 }

 input, select{
 	display: block;
 	width: 100%;
 	font-size: 16px;
 	padding: 5px;
 	border:1px solid #34495E;
 	border-radius: 5px;
 }

 .notItem option:first-child{
	display: none;
} 
 .guardar{
 	margin: 10px 0;
 	background: #2E86C1;
 	color: #D0D3D4;
 	font-size: 20px;
 	padding: 10px;
 	border:0;
 	border-radius: 10px;
 }
 .guardar:hover{
 	cursor: pointer;
 	background: #27AE60;
 }
 /*media*/
  @media screen and (max-width: 1200px) {
 	.headerr h1, .usuario{
 		font-size: 20px;
 	}
 	.registro{
 		width: 40%;
 	}
 }
 @media screen and (max-width: 960px) {
 	.headerr h1, .usuario{
 		font-size: 20px;
 	}
 	.registro{
 		width: 50%;
 	}
 }
 @media screen and (max-width: 620px) {
 	.banner p, .line{
 		display: none;
 	}
 	.headerr h1, .usuario{
 		font-size: 22px;
 	}
 	.registro{
 		width: 60%;
 	}
 }
 @media screen and (max-width: 420px){
 	.registro{
 		width: 80%;
 	}
 }


/*---------mostrar usuario*/

.lista h1{
	font-size: 30px;
	display: inline-block;
	margin: 0px 0px 0px 30px;
	font-family: 'times new roman';
}
.lista .newuser{
	display: inline-block;
	background: #2E86C1;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	margin: 20px 5px;
}
table{
	border-collapse: collapse;
	font-size: 16px;
	width: 95%;
	margin:auto;
}
table th{
	text-align: left;
	padding: 10px;
	color: #fff;
	background: #1F618D;
}
table tr:nth-child(odd){
	background: #ffff;
}
tr td{
	padding: 10px;
}

.edit{
	color:#27AE60;
}
.delete{
	color: #E74C3C;
}

.delete_form{
	background:  #D5F5E3;
	width: 300px;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}
.delete_form h2{
	font-size: 20px;
	color: #2C3E50;
	text-align: center;

}
.delete_form span{
	color:#2980B9  ;
	font-size: 18px;
}
.delete_form p{
	color: #2C3E50;
	font-size: 20px;
}
.cancelar, .aceptar{
	width: 150px;
	background: #27AE60;
	display: block;
	padding: 10px;
	border:0;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px auto;
	color: #FFF;
}
.cancelar{
	text-decoration: none;
	font-size: 18px;
	background: #3498DB;
}
.operation{
	margin: auto;
	background: initial;
	border:0;
}

/*................pagina.......*/
.pagina ul{
	padding: 10px;
	list-style: none;
	background: #fff;
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}
.pagina a, .selec{
	color: #1F618D;
	border: 1px solid #bbb;
	padding: 5px;
	display: inline-block;
	text-align: center;
	width: 40px;

}
.pagina a:hover{
	background: #ddd;
}
.selec{
	color: #FFFF;
	background: #1F618D;
	border: 1px solid #1F618D;
}

/*.....buscador.....*/

.form-buscar{
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius:  10px;
	margin:10px 30px;
}
.form-buscar .btn-buscar{
	background: #1F618D;
	color: #fff;
	border:0;
	padding: 10px;
	cursor: pointer;
	margin-left: 10px;
}
.form-buscar .bbuscar{
	width: 250px;
}